@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text:wght@400;600&family=Lora:ital,wght@0,400;0,500;1,400&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');
@import "../import_css_files/variables.css";
@import "../import_css_files/global.css";


/*** Wrapper Section ***/
.wrapper {
    width: 75%;
    margin: auto;
    display: grid;
    margin: 0 auto;
    grid-template-rows: 1fr 0.5fr 0.75fr;
    grid-template-areas: 
    "trending"
    "cards"
    "about";
}

#trending,
#cards,
#about {
    margin-top: 2em;;
}

.main-header,
.card-header,
.about-me-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    width: 15em;
    border: 5px var(--sub-header-font-color);
    border-style: double;
    padding: 5px;
    margin: 1em auto;
}


/*** Trending Topics ***/
/* Main Topic */
#trending {
    grid-area: trending;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
    "main-header main-header"
    "main main"
}

.main-header {
    grid-area: main-header;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.main-topic {
    height: auto;
    width: 60%;
}

.main-img {
    max-width: 100%;
    height: auto;
}

.main-btn {
    background-color: var(--background-color);
    border: none;
    margin-top: 1em;
    width: 10em;
}

/* What's New */
.whats-new {
    display: flex;
    flex-direction: column;
    height: 45em;
    width: 38%;
    background-color: var(--background-color);
    padding: 1em 2em;
}

.whats-new-heading {
    margin: 0 auto 1em auto;
}

.trending-list {
    height: 8rem;
    display: flex;
    margin-bottom: 2em;
}

.trending-img {
    margin-right: 1em;
}

.trending-credit {
    font-size: 0.9rem;
    color: var(--sub-header-font-color);
    font-style: italic;
    line-height: 80%;
    margin-top: 0.3em;

}

/*** Cards ***/
#cards {
    grid-area: cards;
    grid-template-rows: 0.1fr 0.5fr;
    grid-template-areas: 
    "card-header"
    "card-items"
}

.card-header {
    grid-area: card-header;
}

.card-items {
    display: flex;
    justify-content: space-between;
}

.card {
    height: 35em;
    width: 23%;
    background-color: var(--background-color);
}

.card:hover {
    background-color: var(--hover-color);
    box-shadow: 0 15px 18px var(--box-shadow-color);
}

.card-img {
    height: auto;
    max-width: 100%;
}

.card-title {
    text-transform: uppercase;
    color: var(--sub-header-font-color);
}

.card-description {
    padding: 0 1.1em 0 1.1em;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-btn {
    border: 2px solid var(--btn-color);
    background-color: transparent;
    text-transform: uppercase;
    padding: 0.5rem 0;
}


/*** About Section ***/
#about {
    grid-area: about;
}

.about-me {
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
}

.about-me-story {
    width: 50%;
    height: auto;
    margin-left: 2em;
    text-align: center;
}

.about-me-img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    padding-top: 2em;
}


/*** Footer Section ***/
.footer {
    display: flex;
    height: 20em;
    justify-content: space-around;
    padding-bottom: 4em;
    box-shadow: 0 -5px 5px -5px var(--box-shadow-color);
    margin-top: 2em;
}

.social-media {
    width: 48%;
}

.social-media-logo {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.subscription-form {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media Query for Small Devices */
@media screen and (max-width: 600px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .trending,
    .main {
        display: flex;
        flex-direction: column;
    }

    .main-header,
    .card-header,
    .about-me-header {
        width: 100%;
    }

    .main-topic,
    .whats-new {
        width: 100%;
        height: fit-content;
    }

    .main-img-decription {
        margin-bottom: 2.5em;
        text-align: center;
    }

    .main-btn {
        margin:auto;
    }

    .whats-new-heading{
        padding-bottom: 1em;
    }

    .trending-img {
        display: none;
    }

    .trending-list {
        height: fit-content;
    }

    /* Cards */
    .card-items {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin: 1em 0;
    }

    /* About */
    .about-me {
        display: flex;
        flex-direction: column;
    }

    .about-me-story {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

/* Media Query for Tablet Devices */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .main-topic,
    .whats-new {
        width: 100%;
        height: fit-content;
    }

    .main-img-decription {
        margin-bottom: 2.5em;
    }

    /* Card */
    .card-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2em;
        grid-template-areas: 
        "home food"
        "gardening kid";
    }

    .home {
        grid-area: home;
    }

    .food {
        grid-area: food;
    }

    .gardening {
        grid-area: gardening;
    }

    .kid {
        grid-area: kid;
    }

    .card {
        width: 100%;

    }

    .card-description {
        height: fit-content;
        justify-content: space-between;
    }

    /* About Me */
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .about-me-story {
        width: 95%;
        margin: 0;
    }
}
