* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;   
}

a {
    text-decoration: none;
    color: var(--black);
}

a:visited,
.nav {
    color: var(--black);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, 
h2, 
h3, 
h4 {
    font-family: var(--heading-font-family);
}

a, 
p, 
ul,
ol, 
button {
    font-family: var(--font-family);
    font-size: 1em;
    line-height: 1.75;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/*input, textarea {
    -webkit-user-select: auto;
}*/

textarea {
    white-space: revert;
}

::placeholder {
    color: unset;
}

.container {
    overflow-x: hidden;
}

/*** Header ***/
#home {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(var(--background-img-linear),var(--background-img-linear)),
    url(../images/search_homepage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-wrapper {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 1em 16em;
    background-color: var(--black);
    z-index: 99;
}

.header-wrapper-name a {
    color: var(--white);
    text-shadow: 2px 2px 4px var(--black);
    font-size: 1.75em;
    font-family: var(--heading-font-family);
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.navbar .nav-lists {
    width: 30em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.15em;
}

.navbar .nav-lists a {
    color: var(--white);
    text-shadow: 1px 1px 2px var(--black);
    letter-spacing: 0.05em;
}

.navbar .nav-lists a::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--hover-color);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.navbar .nav-lists a:hover::after{
    width: 100%;
}

.navbar .nav-lists a.active::after{
    width: 100%;
}

.fi-br-menu-burger,
.fi-br-cross {
    display: none;
}

/* Search Box */
.search-box {
    width: 50%;
    height: 2em;
    color: var(--white);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 20px;
    background-color: var(--white);
    opacity: 0.3;
    border: 1px solid var(--box-shadow-color);
    border-radius: 15px;
    font-size: 1.15em;
    outline: none;
}

.fi-br-search {
    position: absolute;
    top: 60%;    
    right: 30px;
    font-size: 1.5em;
}

/*** Wrapper ***/
.nav, 
.card,
.btn,
.card-btn,
.input-form {
transition: 0.5s;
}

.trending-list .article {
    font-family: var(--heading-font-family);
    font-size: 1.15em;
    font-weight: 600;
}

.article:hover {
    text-decoration: underline;
}

.btn {
    height: 3rem;
    width: 8rem;
    border: 2px solid var(--btn-color);
    background-color: var(--white);
    text-transform: uppercase;
}

.btn:hover,
.card-btn:hover {
    background-color: var(--btn-color);
    color: var(--white);
    text-shadow: 1px 1px 2px var(--black);
}

/*** Footer ***/
.footer {
    background-color: var(--background-color);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    padding-top: 1.5rem;
}

.form-input {
    height: 3rem;
    width: 20rem;
    padding-left: 1rem;
    border: 2px solid var(--btn-color);
}

.form-input:focus {
    box-shadow: 0 0 10px var(--btn-color);
    outline: var(--btn-color);
}

/* Media Query for Small Devices */ 
@media screen and (max-width: 600px) {
    .header-wrapper {
        position: relative;
        display: flex;
        height: 20em;
        width: 100vw;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: transparent;
    }

    .search-box {
        width: 90%;
    }

    /* Nav Bar */
    .navbar .nav-lists {
        position: absolute;
        width: 50%;
        height: 100vh;
        z-index: 1;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: 15em 0;
        background-color: var(--hover-color);
        transition: 0.5s;
        transform: translateX(100%);
    }

    .navbar .nav-lists.active {
        transform: translateX(0);
    }

    .navbar .nav-lists a {
        color: var(--black);
        text-shadow: none;
    }

    .navbar .nav-lists a::after {
        background: var(--black);
    }

    .fi-br-cross {
        display: block;
        position: absolute;
        font-size: 1.5em;
        top: 1.5em;
        right: 1.5em;
    }

    .fi-br-menu-burger {
        display: block;
        position: absolute;
        font-size: 2.25em;
        top: 1em;
        right: 0.5em;
        color: var(--white);
    }

    /*About Me*/
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-me-story {
        text-align: center;
        padding-top: 2em;
        padding-left: 2em;
    }

    .about-me-img {
        order: -1;
    }

    /* Footer */
    .footer-wrapper {
        width: 40em;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-media-logo {
        margin: auto;
    }

    .header-wrapper-name {
        width: auto;
    }

    .navbar {
        height: 12em;
        margin-top: 1em; 
    }

    .footer {
        height: 30em;
        padding-bottom: 0;
    }

    .subscription-form {
        padding-top: 1em;
    }

    .subscription-form > h2 {
        font-size: 1em;
    }
}

/* Media Query for Tablet Devices */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    #home {
        height: 10em;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 4em;
    }

    .header-wrapper-name h1 a {
        font-size: 2em;
    }

    .search-box {
        width: 75%;
    }

    /* Nav Bar */
    .navbar {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-lists li a {
        font-size: 1.75em;
    }
}