:root {
    --heading-font-family: "Crimson Text", "Lora", serif;
    --font-family: "Nunito Sans", sans-serif;
    --anton-font-family: "Anton", sans-serif;
    --heading-font-color: #474849;
    --sub-header-font-color: #8e9092;
    --background-img-linear: #530a3d10;
    --background-color: #fcdee9;
    --hover-color: #f0dbdb;
    --box-shadow-color: #dba39a; 
    --btn-color: #ea99a2;
    --white: #fff;
    --black: #000;
}